In [2]:
# import pandas
import pandas as pd

# read CSV files from the current working directory
classlist_a = pd.read_csv("classlist_a.csv")
classlist_b = pd.read_csv("classlist_b.csv")
classlist_c = pd.read_csv("classlist_c.csv")
classlist_d = pd.read_csv("classlist_d.csv")

# concat the four class lists
classlist = pd.concat([classlist_a, classlist_b, classlist_c, classlist_d])

# view the DataFrame
print(classlist.shape)
print(classlist.columns)
print(classlist.dtypes)
print(classlist.head())

(675, 5)
Index(['Student number', 'Surname', 'Initials', 'Final mark', 'Class'], dtype='object')
Student number      int64
Surname            object
Initials           object
Final mark        float64
Class              object
dtype: object
   Student number    Surname Initials  Final mark Class
0        15476227     AFONSO        L       47.72     E
1        15311279   ALBERTYN    F J H       57.52     A
2        15637913  ALEXANDER        L       90.68     E
3        15124150        BAM      A J       56.43     E
4        15829626     BARROW      S B       79.64     E

In [6]:
# Class column to be changed from a string to an integer.

classlist['Class_num'] = classlist.Class.map({'A':0, 'E':1})
classlist.head()

# The column Final mark needs to be renamed to Final_mark.

   Student number    Surname Initials  Final mark Class  Class_num
0        15476227     AFONSO        L       47.72     E          1
1        15311279   ALBERTYN    F J H       57.52     A          0
2        15637913  ALEXANDER        L       90.68     E          1
3        15124150        BAM      A J       56.43     E          1
4        15829626     BARROW      S B       79.64     E          1

In [7]:
# compare columns Class and Class_num with loc() function
print(classlist.loc[:, ['Class', 'Class_num']])

    Class  Class_num
0       E          1
1       A          0
2       E          1
3       E          1
4       E          1
..    ...        ...
214     E          1
215     E          1
216     A          0
217     E          1
218     E          1

[675 rows x 2 columns]