In [1]:
import pandas as pd

In [2]:
movies_merge = pd.read_excel('movies_merge.xlsx')
ott_merge = pd.read_csv('ott_merge.csv')

In [3]:
print(movies_merge.shape)
movies_merge.head()

(16744, 11)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
print(ott_merge.shape)
ott_merge.head()

(16744, 5)

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [5]:
print(movies_merge.dtypes)
print(ott_merge.dtypes)

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [6]:
movie_columns = list(movies_merge)
movie_columns

['ID',
 'Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Directors',
 'Genres',
 'Country',
 'Language',
 'Runtime']

In [7]:
ott_columns = list(ott_merge)
ott_columns

['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

In [8]:
# combine using concat 
movies_ott_concat = pd.concat([movies_merge, ott_merge], axis=0)
movies_ott_concat

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16740,16741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16741,16742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16742,16743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16743,16744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [9]:
# combine using merge 

movies_ott_merge = movies_merge.merge(ott_merge, how='outer', on='ID')
movies_ott_merge

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [10]:
# combine using append() 
movies_ott_append = movies_merge.append(ott_merge, ignore_index=False)
movies_ott_append

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16740,16741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16741,16742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16742,16743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16743,16744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [11]:
print(movies_ott_concat.shape)
print(movies_ott_merge.shape)
print(movies_ott_append.shape)

(33488, 15)
(16744, 15)
(33488, 15)

In [12]:
#debug 
# assert new_df.shape[0] == (df_left.shape[0]  + df_right.shape[0])
assert movies_ott_concat.shape[0] == (movies_merge.shape[0] + ott_merge.shape[0])
# no output so code has been exceuted correctly!

In [13]:
movies_merge.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

## 3.1.10 Practical activity: Reshaping a DataFrame

In [14]:
# the film release date and content rating
movies_merge.pivot(index='Title', columns='Age', values='Year')

Age                                NaN     13+  16+     18+      7+  all
Title
Inception                          NaN  2010.0  NaN     NaN     NaN  NaN
The Matrix                         NaN     NaN  NaN  1999.0     NaN  NaN
Avengers: Infinity War             NaN  2018.0  NaN     NaN     NaN  NaN
Back to the Future                 NaN     NaN  NaN     NaN  1985.0  NaN
The Good, the Bad and the Ugly     NaN     NaN  NaN  1966.0     NaN  NaN
...                                ...     ...  ...     ...     ...  ...
The Ghosts of Buxley Hall       1980.0     NaN  NaN     NaN     NaN  NaN
The Poof Point                     NaN     NaN  NaN     NaN  2001.0  NaN
Sharks of Lost Island           2013.0     NaN  NaN     NaN     NaN  NaN
Man Among Cheetahs              2017.0     NaN  NaN     NaN     NaN  NaN
In Beaver Valley                1950.0     NaN  NaN     NaN     NaN  NaN

[16744 rows x 6 columns]

In [16]:
# the title of movies, the directors, and genres by content rating.
movies_merge.pivot(index='Title', columns='Age', values=['Directors', 'Genres'])

                                           Directors                           \
Age                                              NaN                      13+
Title
Inception                                        NaN        Christopher Nolan
The Matrix                                       NaN                      NaN
Avengers: Infinity War                           NaN  Anthony Russo,Joe Russo
Back to the Future                               NaN                      NaN
The Good, the Bad and the Ugly                   NaN                      NaN
...                                              ...                      ...
The Ghosts of Buxley Hall               Bruce Bilson                      NaN
The Poof Point                                   NaN                      NaN
Sharks of Lost Island                   Neil Gelinas                      NaN
Man Among Cheetahs              Richard Slater-Jones                      NaN
In Beaver Valley                         James Algar                      NaN

                                                                     \
Age                             16+                             18+
Title
Inception                       NaN                             NaN
The Matrix                      NaN  Lana Wachowski,Lilly Wachowski
Avengers: Infinity War          NaN                             NaN
Back to the Future              NaN                             NaN
The Good, the Bad and the Ugly  NaN                    Sergio Leone
...                             ...                             ...
The Ghosts of Buxley Hall       NaN                             NaN
The Poof Point                  NaN                             NaN
Sharks of Lost Island           NaN                             NaN
Man Among Cheetahs              NaN                             NaN
In Beaver Valley                NaN                             NaN

                                                      \
Age                                          7+  all
Title
Inception                                   NaN  NaN
The Matrix                                  NaN  NaN
Avengers: Infinity War                      NaN  NaN
Back to the Future              Robert Zemeckis  NaN
The Good, the Bad and the Ugly              NaN  NaN
...                                         ...  ...
The Ghosts of Buxley Hall                   NaN  NaN
The Poof Point                      Neal Israel  NaN
Sharks of Lost Island                       NaN  NaN
Man Among Cheetahs                          NaN  NaN
In Beaver Valley                            NaN  NaN

                                                      Genres  \
Age                                                      NaN
Title
Inception                                                NaN
The Matrix                                               NaN
Avengers: Infinity War                                   NaN
Back to the Future                                       NaN
The Good, the Bad and the Ugly                           NaN
...                                                      ...
The Ghosts of Buxley Hall       Comedy,Family,Fantasy,Horror
The Poof Point                                           NaN
Sharks of Lost Island                            Documentary
Man Among Cheetahs                               Documentary
In Beaver Valley                    Documentary,Short,Family

                                                                       \
Age                                                          13+  16+
Title
Inception                       Action,Adventure,Sci-Fi,Thriller  NaN
The Matrix                                                   NaN  NaN
Avengers: Infinity War                   Action,Adventure,Sci-Fi  NaN
Back to the Future                                           NaN  NaN
The Good, the Bad and the Ugly                               NaN  NaN
...                                                          ...  ...
The Ghosts of Buxley Hall                                    NaN  NaN
The Poof Point                                               NaN  NaN
Sharks of Lost Island                                        NaN  NaN
Man Among Cheetahs                                           NaN  NaN
In Beaver Valley                                             NaN  NaN


Age                                       18+                       7+  all
Title
Inception                                 NaN                      NaN  NaN
The Matrix                      Action,Sci-Fi                      NaN  NaN
Avengers: Infinity War                    NaN                      NaN  NaN
Back to the Future                        NaN  Adventure,Comedy,Sci-Fi  NaN
The Good, the Bad and the Ugly        Western                      NaN  NaN
...                                       ...                      ...  ...
The Ghosts of Buxley Hall                 NaN                      NaN  NaN
The Poof Point                            NaN     Comedy,Family,Sci-Fi  NaN
Sharks of Lost Island                     NaN                      NaN  NaN
Man Among Cheetahs                        NaN                      NaN  NaN
In Beaver Valley                          NaN                      NaN  NaN

[16744 rows x 12 columns]